/*GENERAL CSS*/

* {

font-family: 'Nobile', sans-serif;
}



#left, #right {
  float: left ;
  width: 50% ;
}

#innerleft, #innerright {
    padding: 20px;
}


#header {
    text-align: center ;
    font-family: 'EB Garamond', serif;
    background-color: #512da8;
    color: white;
    font-size: 40px;
    letter-spacing: 0.3em;
    padding: auto 0;
    height: 70px;
    position: relative;
}


/*THE NAVIGATION BAR*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}


li a {
    float: right;
    cursor:text;
    background-color: #333;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

li a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: white;
}
li a:hover:not(.active) {
    background-color: #111;
    color: white;
}

/* Set default styles for tab content */
.menucontent {
    color: black;
    display: none;
    padding: 50px;
    margin-top: 60px;

}

.active {
    background-color: white;

}


/*TITLES - ABout us, contact us*/
div.title {
    text-align: center;
    padding: 2% 0;
    font-size: 20px;

}

#name {
    float: left;
    letter-spacing: 10px;

    font-style: italic;
    color: #00b248;
    font-size: 30px;
    letter-spacing: 0.3em;
}

#myInput {
    background-image: url('searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    /*padding: 0;*/
    margin: 0;
    padding-left: 0pt;
}

#myUL a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
    align-items: left;
}

#myUL li a.header {
    background-color: #e2e2e2; /* Add a darker background color for headers */
    cursor: default; /* Change cursor style */
}

#myUL a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}

#login {
    font-family: : 'Nobile', sans-serif;
    position: absolute;
    right: 6%;
    top: 1.5vh;
    letter-spacing: normal;
    font-size: 14px;
    padding: 10px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 7px;
    text-align: center;
    outline: none;
    text-decoration: none;
}
#login:hover,#login:active {
    background-color: #66ffa6;
    color: black;
}
