/*GENERAL CSS*/

* {
/*border: 1px solid black;*/
font-family: 'Nobile', sans-serif;
}



#left, #right {
  float: left ;
  width: 50% ;
}

#innerleft, #innerright {
    padding: 0  20px    ;
}


#header {
    text-align: center ;
    font-family: 'EB Garamond', serif;
    background-color: #512da8;
    color: white;
    font-size: 40px;
    letter-spacing: 0.3em;
    padding: auto 0;
    height: 70px;
    position: relative;
}


/*THE NAVIGATION BAR*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: right;
}

li a {
    cursor: pointer;
    background-color: #404040;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

li a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: white;
}
li a:hover:not(.active) {
    background-color: #111;
    color: white;
}

.active {
    background-color: white;

}


/*TITLES - ABout us, contact us*/
div.title {
    text-align: center;
    padding: 10% auto;
    font-size: 20px;
    height: 35px;

}

#name {
    float: left;
    letter-spacing: 10px;

    font-style: italic;
    color: #00b248;
    font-size: 30px;
    letter-spacing: 0.3em;
}



.fa.fa-star, .fa.fa-star-half-o, .fa.fa-star-o  {
    color: orange;
    margin: 0;

}

.btn.fa {
        padding: 5px 4px;
}

#submitreview {
    margin: 10px 0;
    width: 130px;
}

#usericon {
    font-size: 40px;
    line-height: 50px;
    width: 60px;
    height: 40px;
    text-align: center;
    vertical-align: bottom;
}

#login {
    font-family: : 'Nobile', sans-serif;
    position: absolute;
    right: 6%;
    top: 1.5vh;
    letter-spacing: normal;
    font-size: 14px;
    padding: 10px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 7px;
    text-align: center;
    outline: none;
    text-decoration: none;
}
#login:hover,#login:active {
    background-color: #66ffa6;
    color: black;
}
