#left {
    background-image: url("foodimage/table.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}



#left, #right {
    float: left;
    width: 50%;
    height: 90vh;
}

#header {
    text-align: center;
    font-family: "EB Garamond", serif;
    background-color:#512da8;
    color: white;
    font-size: 40px;
    letter-spacing: 0.3em;
    padding: auto 0;
    height: 70px;
    position: relative;
}

#login {
    font-family: : 'Nobile', sans-serif;
    position: absolute;
    right: 6%;
    top: 1.5vh;
    letter-spacing: normal;
    font-size: 14px;
    padding: 10px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 7px;
    text-align: center;
    outline: none;
    text-decoration: none;
}
#login:hover,#login:active {
    background-color: #66ffa6;
    color: black;
}

#map {
  height: 90vh;
  margin: auto;
  text-align: center;
  background-color: antiquewhite;
}



.fa.fa-star, .fa.fa-star-half-o, .fa.fa-star-o  {
    color: orange;
}

#innerleft {
    margin: 30% auto;
    font-family: : 'Nobile', sans-serif;
}


#search {
    width: 70%;
    margin: 0 auto;

}
#searchoption {
    margin-bottom: 4px;
}
#seachbox {
    border: 2px solid #66ffa6;
}

#searchselect {
    overflow: visible;
    border: 2px solid #fff;
    border-radius: 7px;
    outline: none;
}

select{
  font-family: FontAwesome,Material Icons, Ionicons,  sans-serif;
}
