#main {
    width: 320px;
    height: 480px;
    background-color: azure;
    position: relative;
}

#searchbar {
    position: absolute;
    left: 80px;
}



select{
  font-family: FontAwesome,Material Icons, Ionicons,  sans-serif;
}
