div {
    border: 1px solid red;
}
#left, #right {
    float: left;
    width: 50%;
    height: 90vh;
}

#innerleft {
    padding: 40px;
    font-family: : 'Nobile', sans-serif;
}
#innerright {
    background-color: aqua;
    padding: 0px;
    font-family: : 'Nobile', sans-serif;
}



#header {
    text-align: center;
    font-family: "EB Garamond", serif;
    background-color: #512da8;
    color: white;
    font-size: 40px;
    letter-spacing: 0.3em;
    height: 2em;
}

#map {
  height: 700px;
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: antiquewhite;
}



.fa.fa-star, .fa.fa-star-half-o, .fa.fa-star-o  {
    color: orange;
}


#search {
    width: 60%;
    margin: 0 auto;
}
div.inlinebox {
    display: inline-block;
    width: 400px;
}


#seachbox {
    position: relative; 
    width: 500px;
}

#searchoption {
    width: 60px;
    position: relative;

}

select{
  font-family: FontAwesome,Material Icons, Ionicons,  sans-serif;
}


