* {
    border: 1px solid black;
}



body {
    background-image: url("foodimage/tray.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

#left, #right {
  float: left ;
  width: 50% ;
}

#innerleft, #innerright {
    padding: 40px;
    font-family: 'Nobile', sans-serif;
}


#header {
  text-align: center ;
font-family: 'EB Garamond', serif;
    background-color: #512da8;
    color: white;
    font-size: 40px;
    letter-spacing: 0.3em;
    height: 2em;
}



div.userinput {
    margin: 0 auto;
    max-width: 300px;
    padding: 7px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li {
    float: right;
}

li a {
    background-color: #111;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #66ffa6;
    color: black;
}

.active {
    background-color: white;
    
}