/*GENERAL CSS*/

* {

font-family: 'Nobile', sans-serif;
}



#left, #right {
  float: left ;
  width: 50% ;
}

#innerleft, #innerright {
    padding: 40px;
}


#header {
    text-align: center ;
    font-family: 'EB Garamond', serif;
    background-color: #140078;
    color: white;
    font-size: 40px;
    letter-spacing: 0.3em;
    padding: auto 0;
    height: 10vh;
    position: relative;
}


/*THE NAVIGATION BAR*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
     
}

li {
    float: right;
}

li a {
    cursor:text;
    background-color: #333;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

li a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: white;
}
li a:hover:not(.active) {
    background-color: #111;
    color: white;
}

.active {
    background-color: white;
    
}


/*TITLES - ABout us, contact us*/
div.title {
    text-align: center;
    padding: 5% 0;
    font-size: 20px;

}

#name {
    float: left;
    letter-spacing: 10px;

    font-style: italic;
    color: #00b248;
    font-size: 30px;
    letter-spacing: 0.3em;
}
#pepperSkyAboutUs {
    text-align: center;
}

#pepperSkyContactUs {
    text-align: center;
}

#StarsPepperSky {
    margin-top: 30px;
}